<div id="container" layout="column" layout-fill>
	<ng-include src="'shared/templates/toolbar.html'"></ng-include>
	<section layout = "row">
		<ng-include src="'shared/templates/sidenav.html'"></ng-include>
	<md-content flex>
	    <section>
	        <md-list>
	            <md-subheader class="">Banking Chat Bot<span align="right"> </span> </md-subheader>

	            <md-whiteframe ng-repeat="m in messages track by $index" class="md-whiteframe-z2 message" layout layout-align="center center">
	                <md-list-item class="md-3-line">
	                    <!-- <img ng-src="img/user.png" class="md-avatar" alt="User" /> -->
	                    <div class="md-list-item-text">
	                        <h3>{{ m.username }}</h3>
	                        <p>{{m.content}}</p>
	                    </div>
	                </md-list-item>
	            </md-whiteframe>

	        </md-list>
	    </section>

	    <div>


	        <md-input-container flex>
	            <label>Message</label>
	            <form ng-submit = "send()" autocomplete="off" >
	            <input ng-model="input" autocomplete="off" ></input> <md-button class="md-raised md-primary" type = "submit" >Submit</md-button>
	            </form>
	        </md-input-container>


	    </div>

	</md-content>
	</section>
	<ng-include src="'shared/templates/footer.html'"></ng-include>
</div>
